{% extends "base.html" %} {% block content %}
<h1>Create finisher</h1>
<br />

<!-- Create finisher form -->

<div>
  <form method="POST" action="{{ url_for('add_finisher') }}">
    <div class="row">
      <div class="input-field col s6">
        <input name="finisher_name" type="text" class="validate" required />
        <label for="finisher_name">Name your finisher:</label>
      </div>
      <div class="input-field col s6">
        <select name="categories" required>
          <option value="" disabled selected>Choose your option</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}">
            {{ category.category_name }}
          </option>
          {% endfor %}
        </select>
        <label for="">Select category</label>
      </div>
    </div>

    <!-- Exercise 1 -->

    <div class="row">
      <div class="input-field col s6">
        <input name="exercise" type="text" class="validate" required />
        <label for="exercise">Exercise 1:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps" type="number" class="validate" required />
        <label for="reps">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select" name="set_type" required>
          <option value="set_type" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 2  -->

    <div id="second_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_2" type="text" class="validate" required />
        <label for="exercise_2">Exercise 2:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_2" type="number" class="validate" required />
        <label for="reps_2">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_2" name="set_type_2" required>
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_2">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 3 -->

    <div id="third_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_3" type="text" class="validate" required />
        <label for="exercise_3">Exercise 3:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_3" type="number" class="validate" required />
        <label for="reps_3">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_3" name="set_type_3" required>
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_3">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 4 -->

    <div id="fourth_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_4" type="text" class="validate" />
        <label for="exercise_4">Exercise 4:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_4" type="number" class="validate" />
        <label for="reps_4">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_4" name="set_type_4">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_4">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 5 -->

    <div id="fifth_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_5" type="text" class="validate" />
        <label for="exercise_5">Exercise 5:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_5" type="number" class="validate" />
        <label for="for_metres_reps_seconds_5">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_5" name="set_type_5">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_5">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 6 -->

    <div id="sixth_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_6" type="text" class="validate" />
        <label for="exercise_6">Exercise 6:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_6" type="number" class="validate" />
        <label for="reps_6">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_6" name="set_type_6">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_6">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 7 -->

    <div id="seventh_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_7" type="text" class="validate" />
        <label for="exercise_7">Exercise 7:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_7" type="number" class="validate" />
        <label for="reps_6">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_7" name="set_type_7">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_7">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 8 -->

    <div id="eighth_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_8" type="text" class="validate" />
        <label for="exercise_8">Exercise 8:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_8" type="number" class="validate" />
        <label for="reps_8">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_8" name="set_type_8">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_8">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 9 -->

    <div id="ninth_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_9" type="text" class="validate" />
        <label for="exercise_8">Exercise 9:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_9" type="number" class="validate" />
        <label for="reps_9">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_9" name="set_type_9">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_9">Reps/time/distance:</label>
      </div>
    </div>

    <!-- Exercise 10 -->

    <div id="tenth_exercise" class="row hidden_exercise">
      <div class="input-field col s6">
        <input name="exercise_10" type="text" class="validate" />
        <label for="exercise_10">Exercise 10:</label>
      </div>
      <div class="input-field col s3">
        <input name="reps_10" type="number" class="validate" />
        <label for="reps_10">for:</label>
      </div>
      <div class="input-field col s3">
        <select id="exercise_set_type_select_10" name="set_type_10">
          <option value="" disabled selected>Choose your option</option>
          <option value="reps">reps</option>
          <option value="seconds">seconds</option>
          <option value="metres">metres</option>
        </select>
        <label for="set_type_10">Reps/time/distance:</label>
      </div>
    </div>

    <!--  Instructions, time limit and submit button -->

    <div class="row">
      <div class="input-field col s12">
        <textarea
          name="instructions"
          class="materialize-textarea"
          required
        ></textarea>
        <label for="instructions">Instructions:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <div class="switch">
          <label for="time_limit_toggle">Time limit?</label>
          <label>
            Off
            <input
              name="time_limit_toggle"
              id="time_limit_toggle"
              type="checkbox"
            />
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
      <div class="input-field col s4">
        <input
          name="time_limit"
          id="time_limit"
          type="number"
          class="validate"
        />
        <label for="time_limit">Time limit:</label>
      </div>
    </div>
    <button type="submit" class="col s12 btn-large">Add finisher</button>
  </form>
</div>
{% endblock %}
