{% block title %} <title>Browse finishers | Finishers</title> {% endblock %}
{% extends "base.html" %}
{% block content %}
<section class="container">
    <div class="row push-down center-block">
        <div class="col card-panel s12 m8 offset-m2">
            <form action="{{ url_for('search') }}" method="POST">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="input-field col s12 m6">
                    <input type="text" name="search-exercises" required>
                    <label id="search-exercises-label" for="search-exercises">Search by exercise</label>
                </div>
                <div class="input-field col s12 m6 center-align">
                    <a href="{{ url_for('browse_finishers') }}"></a>
                    <button type="submit" class="btn-large orange-btn">
                        Search
                    </button>
                </div>
            </form>
            <p class="center-align">
                Or use the tabs below to browse by category.
            </p>
        </div>          
    
    </div>
</section>

<section>
    <div class="row" id="tab-row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#All">All</a></li>
                {% for category in categories %}
                <li class="tab col s3"><a href="#{{ category.category_name }}">{{ category.category_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="All" class="col s12">
            <div class="row">
                {% for finisher in finishers %}
                <div class="col s12 m4">
                    <div class="card large white">
                        <div class="card-content orange-text text-darken-4">
                            <a href="{{ url_for('display_finisher', finisher_id=finisher._id) }}"><span
                                    class="card-title">{{ finisher.finisher_name }}</span></a>
                            <div>
                                {% for category in categories %}
                                {% if finisher.category_name == category.category_name %}
                                <a class="tooltipped" data-position="bottom"
                                    data-tooltip="{{ category.description }}"><i class="far fa-question-circle">
                                    </i></a> {{ finisher.category_name }}:
                                {% endif %}
                                {% endfor %}
                                <ol>
                                    {% for exercise in finisher.exercises %}
                                    <li>
                                        {{ exercise.exercise_name }} for {{ exercise.set }} {{ exercise.set_type }}
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div>
                                {% if finisher.time_limit_toggle == "on" %}
                                <span>Time limit: {{ finisher.time_limit }} minutes</span>
                                {% endif %}
                                {% if finisher.time_limit_toggle == "off" %}
                                {{ finisher.time_limit }}
                                {% endif %}
                            </div>
                            <span>Instructions:</span>
                            <p>{{ finisher.instructions }}</p>
                            <span>Created by: {{ finisher.created_by }}</span>
                        </div>
                        <div class="card-action waves-effect waves-light">
                            {% if current_user.username == finisher.created_by %}
                            <a href="{{ url_for('modify_finisher', finisher_id=finisher._id) }}">Edit</a>
                            <a href="{{ url_for('delete_finisher', finisher_id=finisher._id)}}">Delete</a>
                            {% else %}
                            <a href="{{ url_for('add_to_library', finisher_id=finisher._id) }}">Star</a>
                            <a href="{{ url_for('edit_finisher', finisher_id=finisher._id)}}">Clone</a>
                            <a href="{{ url_for('display_finisher', finisher_id=finisher._id) }}">Review</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% for category in categories %}
        <div id="{{ category.category_name }}" class="col s12">
            <div class="row">
                {% for finisher in finishers %}
                {% if finisher.category_name == category.category_name %}
                <div class="col s12 m4">
                    <div class="card large white">
                        <div class="card-content orange-text text-darken-4">
                            <a href="{{ url_for('display_finisher', finisher_id=finisher._id) }}"><span
                                    class="card-title">{{ finisher.finisher_name }}</span></a>
                            <div>
                                {% for category in categories %}
                                {% if finisher.category_name == category.category_name %}
                                <a class="tooltipped" data-position="bottom"
                                    data-tooltip="{{ category.description }}"><i class="far fa-question-circle">
                                    </i></a> {{ finisher.category_name }}:
                                {% endif %}
                                {% endfor %}
                                <ol>
                                    {% for exercise in finisher.exercises %}
                                    <li>
                                        {{ exercise.exercise_name }} for {{ exercise.set }} {{ exercise.set_type }}
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div>
                                {% if finisher.time_limit_toggle == "on" %}
                                <span>Time limit: {{ finisher.time_limit }} minutes</span>
                                {% endif %}
                            </div>
                            <span>Instructions:</span>
                            <p>{{ finisher.instructions }}</p>
                            <span>Created by: {{ finisher.created_by }}</span>
                        </div>
                        <div class="card-action waves-effect waves-light">
                            {% if current_user.username == finisher.created_by %}
                            <a href="{{ url_for('modify_finisher', finisher_id=finisher._id) }}">Edit</a>
                            <a href="{{ url_for('delete_finisher', finisher_id=finisher._id)}}">Delete</a>
                            {% else %}
                            <a href="{{ url_for('add_to_library', finisher_id=finisher._id) }}">Star</a>
                            <a href="{{ url_for('edit_finisher', finisher_id=finisher._id)}}">Clone</a>
                            <a href="{{ url_for('display_finisher', finisher_id=finisher._id) }}">Review</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}