{% extends "base.html" %} {% block content %}

<p>
    {% if current_user.is_authenticated %}
        Hi {{ current_user.user_json.username }}!
    {% endif %}

</p>

{% if current_user.is_admin == false %}

    {% if current_user.library|length == 0 %}
        <h4>Looks like you've starred no finishers</h4>
        <p>
            Click here to browse finishers created by other users
        </p>
    {% endif %}

    {% if finishers|length == 0 %}
        <h4>Looks like you're yet to create your first finisher</h4>
        <p>
            Click here to create a finisher
        </p>
    {% endif %}
    
{% endif %}    

<div class="">
        <div class="row">
            {% for finisher in finishers %}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <a href="{{ url_for('display_finisher', finisher_id=finisher._id) }}"><span class="card-title">{{ finisher.finisher_name }}</span></a>
                        <div>
                            {% for category in categories %}
                                {% if finisher.category_name == category.category_name %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="{{ category.description }}"><i class="far fa-question-circle"> </i></a> {{ finisher.category_name }}: 
                                {% endif %}
                            {% endfor %}    
                            <ol>
                                {% for exercise in finisher.exercises %}
                                <li>
                                    {{ exercise.exercise_name }} for {{ exercise.set }} {{ exercise.set_type }}
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div>
                            {% if finisher.time_limit_toggle == "on" %}
                                <span>Time limit: {{ finisher.time_limit }} minutes</span>
                            {% endif %}   
                        </div>
                        <span>Instructions:</span>
                        <p>{{ finisher.instructions }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('modify_finisher', finisher_id=finisher._id) }}">Edit</a>
                        <a href="{{ url_for('delete_finisher', finisher_id=finisher._id)}}">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for added_finisher in added_finishers %}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <a href="{{ url_for('display_finisher', finisher_id=added_finisher._id) }}"><span class="card-title">{{ added_finisher.finisher_name }}</span></a>
                        <div>
                            {% for category in categories %}
                                {% if added_finisher.category_name == category.category_name %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="{{ category.description }}"><i class="far fa-question-circle"> </i></a> {{ added_finisher.category_name }}: 
                                {% endif %}
                            {% endfor %}    
                            <ol>
                                {% for exercise in added_finisher.exercises %}
                                <li>
                                    {{ exercise.exercise_name }} for {{ exercise.set }} {{ exercise.set_type }}
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div>
                            {% if added_finisher.time_limit_toggle == "on" %}
                                <span>Time limit: {{ added_finisher.time_limit }} minutes</span>
                            {% endif %}   
                        </div>
                        <span>Instructions:</span>
                        <p>{{ added_finisher.instructions }}</p>
                        <span>Created by: {{ added_finisher.created_by }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('display_finisher', finisher_id=added_finisher._id) }}">Review</a>
                        <a href="{{ url_for('remove_from_library', finisher_id=added_finisher._id) }}">Remove</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
