{% extends "base.html" %}
{% block title %} {{ finisher.finisher_name }} | Finishers {% endblock %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 push-down">
                <div class="card white">
                    <div class="card-content orange-text text-darken-4">
                        <span class="card-title">{{ finisher.finisher_name }}</span>
                        <div>
                            {% for category in categories %}
                            {% if finisher.category_name == category.category_name %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="{{ category.description }}"><i
                                    class="far fa-question-circle"> </i></a> {{ finisher.category_name }}:
                            {% endif %}
                            {% endfor %}
                            <ol>
                                {% for exercise in finisher.exercises %}
                                <li>
                                    {{ exercise.exercise_name }} for {{ exercise.set }} {{ exercise.set_type }}
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div>
                            {% if finisher.time_limit_toggle == "on" %}
                            <span>Time limit: {{ finisher.time_limit }} minutes</span>
                            {% endif %}
                        </div>
                        <span>Instructions:</span>
                        <p>{{ finisher.instructions }}</p>
                        <span>Created by: {{ finisher.created_by }}</span>
                    </div>
                    <div class="card-action">
                        {% if current_user.username == finisher.created_by %}
                        <a href="{{ url_for('modify_finisher', finisher_id=finisher._id) }}">Edit</a>
                        <a href="{{ url_for('delete_finisher', finisher_id=finisher._id)}}">Delete</a>
                        {% else %}
                        <a href="{{ url_for('modify_finisher', finisher_id=finisher._id) }}">Edit</a>
                        <a href="{{ url_for('delete_finisher', finisher_id=finisher._id)}}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <h6 id="rating">Rating: {{ rating }}</h6>
            </div>
            <div class="col s12 m6 push-down">
                <h4 id="review-header">Reviews</h4>
                {% for review in reviews %}
                <div class="card-panel">
                    <p class="white-text">
                        {{ review.review }}
                    </p>
                    <p>
                        by: {{ review.reviewed_by }}
                    </p>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="col s12 m6">
            <form method="POST" action="{{ url_for('display_finisher', finisher_id=finisher._id) }}">
                {{ form.csrf_token }}
                <div class="input-field col s12">
                    {{ form.review(class="materialize-textarea") }}
                    <label for="review">Review:</label>
                </div>
                <p>Is this a good finisher?</p>
                <p>
                    <label>
                        <input name="votes" type="radio" value="100" checked />
                        <span><i class="fas fa-hand-middle-finger"></i> F*** you, it's AWESOME</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="votes" value="0" type="radio" />
                        <span><i class="fas fa-thumbs-down"></i> Nope, don't like it</span>
                    </label>
                </p>
                <button type="submit" class="btn-large orange-btn">Add review</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}