<title>Welcome | The Finisher</title>

{% extends "base.html" %} {% block content %}

<section class="callout-background">
    <div class="callout-container" id="callout">
        <div class="callout-bg-overlay">
            <div class="container">
                <div class="callout-words-container center-align">
                    <h1 id="callout-header">Need something to finish
                        your next workout?</h1>
                    <h5 class="callout-text">You're in the right place</h5>
                    <h5 class="callout-text">Welcome to Finishers</h5>
                    <section>
                        <button class="btn-large text-shadow" id="sign-up-button">
                            <a href="{{ url_for('register') }}" class="white-text">Sign Up<i
                                    class="fas fa-plus-square right"></i></a>
                        </button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}