{% extends "base.html" %} {% block content %}

<section>
  <form class="col s12" method="POST" action="{{ url_for('register') }}">
    {{ form.csrf_token }} 
    {{ form.username.label }} {{ form.username(size=20) }}
    {% for error in form.username.errors %}
        <li>{{ error }}</li>
    {% endfor %}    
    {{ form.password.label }} {{ form.password(size=20) }}
    {% for error in form.password.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    {{ form.confirm.label }} {{ form.confirm(size=20) }}
    {% for error in form.confirm.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    <button type="submit" class="col s12 btn-large">
      Register
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </form>
</section>

{% endblock %}
